{% extends 'base.html' %}

{% block css %}

    <script>
    var all_item_containers = $(".item_container");
    var hasClicked = false;


    $(document).on("click", ".item_container", function () {
        var clickedItemID = $(this).attr('id');
        $(".item_container").removeClass("expanded");
        $(this).addClass("expanded");
        clearInterval(activeInterval);
    });

    $(".ul_container").hover(function () {
        clearInterval(activeInterval);
        console.log(activeInterval);
    });

    var active_container = 1;

    var activeInterval;

    function intervalStart() {
        activeInterval = setInterval(function () {
            $(".item_container").removeClass("expanded");

            $(all_item_containers[active_container]).addClass("expanded");

            active_container += 1;

            if (active_container == 10) {
                active_container = 0
            }
        }, 10000)
    };

    intervalStart();
    </script>
    <style>
        {#body {#}
        {#    background-color: #111;#}
        {#    margin: 0;#}
        {#    background-image: linear-gradient(black 0px, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) calc(80%), black 100%), url(https://assets.codepen.io/1890963/bg-1--300%402x.4b7178145e2885f8467a7357e2d15971_1.jpg?format=auto);#}
        {#    background-size: 100%;#}
        {#    background-repeat: no-repeat;#}
        {#    font-family: Arial, sans-serif;#}


        .flex_container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
        }

        .heading {
            font-size: 103px;
            color: #fff;
            margin-bottom: 2rem;
            text-align: center;
            font-weight: 700;
        }

        .outer_container {
            max-width: 1400px;
            margin: 0 auto;
            width: 100%;
            overflow-y: hidden;
            overflow-x: inherit;
        }

        .inner_container {
            padding-bottom: 32.8%;
            position: relative;
        }

        .ul_container {
            position: absolute;
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            list-style: none;
            width: 100%;
            height: 100%;
            padding: 0;
        }

        .item_container {
            flex: 1 1 0%;
            align-items: flex-start;
            width: 35px;
            height: 100%;
            position: relative;
            transition: all 0.3s;
            cursor: pointer;
            background-color: #111;
            background-image: linear-gradient(0deg, transparent, #000);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7);
        }

        .item_container:hover:not(.expanded) {
            flex-basis: 8%;
        }

        .item_container:hover:not(.expanded) img {
            opacity: 0.7;
        }

        .item_container:hover:not(.expanded) .item_number {
            opacity: 0.9;
        }

        .expanded {
            flex-basis: 56.25%;
            padding-left: 256px;
        }

        .expanded img {
            opacity: 1 !important;
        }

        .expanded .item_number {
            opacity: 0;
        }

        .item_number {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 100;
            text-shadow: 0px 0px 2px black;
            font-size: 1rem;
            font-weight: 600;
            color: #fff;
            padding: 10px;
            opacity: 0.5;
            transition: opacity 0.3s;
        }

        .image_info_container {
            position: relative;
            height: 100%;
            width: 100%;
        }

        .info_container {
            height: 100%;
            width: 256px;
            margin-left: -256px;
            position: relative;
        }

        .info_container_inner {
            height: 100%;
        }

        .info_number {
            display: flex;
            justify-content: center;
            height: 66%;
        }

        .info_bottom_container {
            position: absolute;
            bottom: 1.5rem;
            left: 0;
            width: 100%;
            z-index: 100;
            text-align: center;
        }

        .info_bottom_text {
            color: rgba(255, 255, 255, 0.9);
            font-size: 1.3rem;
            font-weight: 600;
            padding: 0 1.5rem;
        }

        .info_bottom_text > strong {
            font-weight: 800;
        }

        .info_bottom_text a {
            display: block;
            color: rgba(229, 9, 20, 0.9);
            font-weight: 300;
            padding: 5px;
            font-size: 1.2rem;
            white-space: nowrap;
        }

        .info_bottom_text a:hover {
            color: #fff;
        }

        .number_image {
            object-fit: cover;
            align-self: flex-start;
            max-width: 100%;
            height: auto;
        }

        .image {
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            height: 100%;
            padding-left: 100%;
        }

        .image:hover .bottom_title_text {
            opacity: 1;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-left: 0px;
            max-width: 100%;
            opacity: 0.4;
            transition: opacity 0.3s;
        }

        .bottom_title {
            padding: 1rem;
            overflow: hidden;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 15px 0;
            text-align: center;
            color: #fff;
            text-shadow: black 0px 0px 2px, black 0px 0px 10px;
            background-image: linear-gradient(transparent 0px, rgba(0, 0, 0, 0.5) 100%);
        }

        .bottom_title_text {
            opacity: 0;
            transition: opacity 0.3s;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 0.8rem;
            letter-spacing: 0.05rem;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="flex_container">
        <div class="outer_container">
            <div class="heading">
                Global Top 10
            </div>
        </div>
        <div class="outer_container">
            <div class="inner_container">
                <ul class="ul_container">
                    <div class="item_container expanded" style="z-index: 10">
                        <div class="item_number">
                            1
                        </div>
                        <div class="image_info_container">
                            <div class="info_container">
                                <div class="info_container_inner">
                                    <div class="info_number">
                                        <img class="number_image" width="512" height="512"
                                             src="https://assets.codepen.io/1890963/1.png?format=auto" alt="1">
                                    </div>
                                    <div class="info_bottom_container">
                                        <div class="info_bottom_text">
                                            Watched for <strong>148.72 million hours</strong> this week.
                                            <a href="#">Watch now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image">
                                <picture>
                                    <source srcset="https://dnm.nflximg.net/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABcZCcruNL4qg1uy7rbRagPLF2_kMt2hWh5utDUKt3DgYuhAE-Qrr1wA8b2W9vFu9ABPSY1cNzQPBoPpWSZVvaoQMZAEFXfsXrcmUNSO5YTdjIdKMDtjYbTYKRR9J.webp?r=5f1"
                                            type="image/webp" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABeyXW3mUTPqrK4NtKn2vJlcYmKVJU5XCn6Zeis_EdNEjMmhs5rRudqWRYo2Pj7R2_pYwHviXeOrP1GKgaC4flMu_QndVSRQ8Fk-B_al3ZGz5JOXyZ28ZK7I49UdxrQ.jpg?format=auto"
                                            type="image/jpeg" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABeyXW3mUTPqrK4NtKn2vJlcYmKVJU5XCn6Zeis_EdNEjMmhs5rRudqWRYo2Pj7R2_pYwHviXeOrP1GKgaC4flMu_QndVSRQ8Fk-B_al3ZGz5JOXyZ28ZK7I49UdxrQ.jpg?format=auto"
                                            type="image/jpeg">
                                    <img class="" style="margin-left: 0px;"
                                         src="https://assets.codepen.io/1890963/AAAABeyXW3mUTPqrK4NtKn2vJlcYmKVJU5XCn6Zeis_EdNEjMmhs5rRudqWRYo2Pj7R2_pYwHviXeOrP1GKgaC4flMu_QndVSRQ8Fk-B_al3ZGz5JOXyZ28ZK7I49UdxrQ.jpg?format=auto"
                                         alt="The Guilty"></picture>
                                <div class="bottom_title">
                                    <div class="bottom_title_text">
                                        Red notice
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item_container" style="z-index: 9">
                        <div class="item_number">
                            2
                        </div>
                        <div class="image_info_container">
                            <div class="info_container">
                                <div class="info_container_inner">
                                    <div class="info_number">
                                        <img class="number_image" width="512" height="512"
                                             src="https://assets.codepen.io/1890963/2.png?format=auto" alt="2">
                                    </div>
                                    <div class="info_bottom_container">
                                        <div class="info_bottom_text">
                                            Watched for <strong>58.56 million hours</strong> this week.
                                            <a href="#">Watch now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image">
                                <picture>
                                    <source srcset="https://assets.codepen.io/1890963/AAAABSlWYPUcQisKQat0S8WDXkwPjfU4yEbFT4eDXJLnL5noLRdZCre_pm3Amq11WKXU9hC3VciJLwAWf8z0nsI-rTlRTnAkpeo5iBLhbO-SMpRM0NUXzVQsllo89bYFzg.jpg?format=auto"
                                            type="image/webp" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABSlWYPUcQisKQat0S8WDXkwPjfU4yEbFT4eDXJLnL5noLRdZCre_pm3Amq11WKXU9hC3VciJLwAWf8z0nsI-rTlRTnAkpeo5iBLhbO-SMpRM0NUXzVQsllo89bYFzg.jpg?format=auto"
                                            type="image/jpeg" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABSlWYPUcQisKQat0S8WDXkwPjfU4yEbFT4eDXJLnL5noLRdZCre_pm3Amq11WKXU9hC3VciJLwAWf8z0nsI-rTlRTnAkpeo5iBLhbO-SMpRM0NUXzVQsllo89bYFzg.jpg?format=auto"
                                            type="image/jpeg">
                                    <img class="" style="margin-left: 0px;"
                                         src="https://assets.codepen.io/1890963/AAAABSlWYPUcQisKQat0S8WDXkwPjfU4yEbFT4eDXJLnL5noLRdZCre_pm3Amq11WKXU9hC3VciJLwAWf8z0nsI-rTlRTnAkpeo5iBLhbO-SMpRM0NUXzVQsllo89bYFzg.jpg?format=auto"
                                         alt="The Guilty"></picture>
                                <div class="bottom_title">
                                    <div class="bottom_title_text">
                                        LOVE HARD
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item_container" style="z-index: 8">
                        <div class="item_number">
                            3
                        </div>
                        <div class="image_info_container">
                            <div class="info_container">
                                <div class="info_container_inner">
                                    <div class="info_number">
                                        <img class="number_image" width="512" height="512"
                                             src="https://assets.codepen.io/1890963/3.png?format=auto" alt="3">
                                    </div>
                                    <div class="info_bottom_container">
                                        <div class="info_bottom_text">
                                            Watched for <strong>33.03 million hours</strong> this week.
                                            <a href="#">Watch now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image">
                                <picture>
                                    <source srcset="https://assets.codepen.io/1890963/AAAABdSTtEWX51HK0gQNLxoNCEHAdcJDUj-IUIqc0Ho4FheR3nlfyIxSRtFNWx7X9y3HAM5srwNSqE__YY0-EHwDMhBiwLgrbnDLx-KLlbWUtogt9K9ThtthZeMJsFBXQA.jpg?format=auto"
                                            type="image/webp" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABdSTtEWX51HK0gQNLxoNCEHAdcJDUj-IUIqc0Ho4FheR3nlfyIxSRtFNWx7X9y3HAM5srwNSqE__YY0-EHwDMhBiwLgrbnDLx-KLlbWUtogt9K9ThtthZeMJsFBXQA.jpg?format=auto"
                                            type="image/jpeg" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABdSTtEWX51HK0gQNLxoNCEHAdcJDUj-IUIqc0Ho4FheR3nlfyIxSRtFNWx7X9y3HAM5srwNSqE__YY0-EHwDMhBiwLgrbnDLx-KLlbWUtogt9K9ThtthZeMJsFBXQA.jpg?format=auto"
                                            type="image/jpeg">
                                    <img class="" style="margin-left: 0px;"
                                         src="https://assets.codepen.io/1890963/AAAABdSTtEWX51HK0gQNLxoNCEHAdcJDUj-IUIqc0Ho4FheR3nlfyIxSRtFNWx7X9y3HAM5srwNSqE__YY0-EHwDMhBiwLgrbnDLx-KLlbWUtogt9K9ThtthZeMJsFBXQA.jpg?format=auto"
                                         alt="The harder they fall"></picture>
                                <div class="bottom_title">
                                    <div class="bottom_title_text">
                                        THE HARDER THEY FALL
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item_container" style="z-index: 7">
                        <div class="item_number">
                            4
                        </div>
                        <div class="image_info_container">
                            <div class="info_container">
                                <div class="info_container_inner">
                                    <div class="info_number">
                                        <img class="number_image" width="512" height="512"
                                             src="https://assets.codepen.io/1890963/4.png?format=auto" alt="4">
                                    </div>
                                    <div class="info_bottom_container">
                                        <div class="info_bottom_text">
                                            Watched for <strong>20.56 million hours</strong> this week.
                                            <a href="#">Watch now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image">
                                <picture>
                                    <source srcset="https://assets.codepen.io/1890963/AAAABSd4YiRI4akxOnkCqC2Aqn8MrtGgluXvN3vbSakGx2ejrClryI0hkNYjoqRt2Owl0ySiE4-sNKiq7o6nAg7gRhD8hYGcCoPqChvTygrWfaKR7bKld5zsLWQ6kxlZaQ.jpg"
                                            type="image/webp" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABSd4YiRI4akxOnkCqC2Aqn8MrtGgluXvN3vbSakGx2ejrClryI0hkNYjoqRt2Owl0ySiE4-sNKiq7o6nAg7gRhD8hYGcCoPqChvTygrWfaKR7bKld5zsLWQ6kxlZaQ.jpg"
                                            type="image/jpeg" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABSd4YiRI4akxOnkCqC2Aqn8MrtGgluXvN3vbSakGx2ejrClryI0hkNYjoqRt2Owl0ySiE4-sNKiq7o6nAg7gRhD8hYGcCoPqChvTygrWfaKR7bKld5zsLWQ6kxlZaQ.jpg"
                                            type="image/jpeg">
                                    <img class="" style="margin-left: 0px;"
                                         src="https://assets.codepen.io/1890963/AAAABSd4YiRI4akxOnkCqC2Aqn8MrtGgluXvN3vbSakGx2ejrClryI0hkNYjoqRt2Owl0ySiE4-sNKiq7o6nAg7gRhD8hYGcCoPqChvTygrWfaKR7bKld5zsLWQ6kxlZaQ.jpg"
                                         alt="Army of Thieves"></picture>
                                <div class="bottom_title">
                                    <div class="bottom_title_text">
                                        army of thieves
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item_container" style="z-index: 6">
                        <div class="item_number">
                            5
                        </div>
                        <div class="image_info_container">
                            <div class="info_container">
                                <div class="info_container_inner">
                                    <div class="info_number">
                                        <img class="number_image" width="512" height="512"
                                             src="https://assets.codepen.io/1890963/5.png?format=auto" alt="5">
                                    </div>
                                    <div class="info_bottom_container">
                                        <div class="info_bottom_text">
                                            Watched for <strong>13.78 million hours</strong> this week.
                                            <a href="#">Watch now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image">
                                <picture>
                                    <source srcset="https://assets.codepen.io/1890963/AAAABVxH2_5AGGX3jcwy6y0rbYzHvWkzJQY0EiWpFvdrhg5x4wPfU4Xl472rNUrRzqjcpqOUNvdyKLcDlG1pPa8v804Dtb2bDzqZes2_AntdOElfr7FKsl6xV9nw5YMSdA.jpg?format=auto"
                                            type="image/webp" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABVxH2_5AGGX3jcwy6y0rbYzHvWkzJQY0EiWpFvdrhg5x4wPfU4Xl472rNUrRzqjcpqOUNvdyKLcDlG1pPa8v804Dtb2bDzqZes2_AntdOElfr7FKsl6xV9nw5YMSdA.jpg?format=auto"
                                            type="image/jpeg" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABVxH2_5AGGX3jcwy6y0rbYzHvWkzJQY0EiWpFvdrhg5x4wPfU4Xl472rNUrRzqjcpqOUNvdyKLcDlG1pPa8v804Dtb2bDzqZes2_AntdOElfr7FKsl6xV9nw5YMSdA.jpg?format=auto"
                                            type="image/jpeg">
                                    <img class="" style="margin-left: 0px;"
                                         src="https://assets.codepen.io/1890963/AAAABVxH2_5AGGX3jcwy6y0rbYzHvWkzJQY0EiWpFvdrhg5x4wPfU4Xl472rNUrRzqjcpqOUNvdyKLcDlG1pPa8v804Dtb2bDzqZes2_AntdOElfr7FKsl6xV9nw5YMSdA.jpg?format=auto"
                                         alt="Father christmas is back"></picture>
                                <div class="bottom_title">
                                    <div class="bottom_title_text">
                                        father christmas is back
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item_container" style="z-index: 5">
                        <div class="item_number">
                            6
                        </div>
                        <div class="image_info_container">
                            <div class="info_container">
                                <div class="info_container_inner">
                                    <div class="info_number">
                                        <img class="number_image" width="512" height="512"
                                             src="https://assets.codepen.io/1890963/6.png?format=auto" alt="6">
                                    </div>
                                    <div class="info_bottom_container">
                                        <div class="info_bottom_text">
                                            Watched for <strong>7.9 million hours</strong> this week.
                                            <a href="#">Watch now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image">
                                <picture>
                                    <source srcset="https://assets.codepen.io/1890963/AAAABRtLgp2rQRIGK5Gluh0yF2mk6KRIMjfrBUOIcY6_aDIj0ISx-e21eTTaZ4RS7yquWCIfgZGZTXYZ5UmcnswHdxJDJ61m.jpg?format=auto"
                                            type="image/webp" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABRtLgp2rQRIGK5Gluh0yF2mk6KRIMjfrBUOIcY6_aDIj0ISx-e21eTTaZ4RS7yquWCIfgZGZTXYZ5UmcnswHdxJDJ61m.jpg?format=auto"
                                            type="image/jpeg" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABRtLgp2rQRIGK5Gluh0yF2mk6KRIMjfrBUOIcY6_aDIj0ISx-e21eTTaZ4RS7yquWCIfgZGZTXYZ5UmcnswHdxJDJ61m.jpg?format=auto"
                                            type="image/jpeg">
                                    <img class="" style="margin-left: 0px;"
                                         src="https://assets.codepen.io/1890963/AAAABRtLgp2rQRIGK5Gluh0yF2mk6KRIMjfrBUOIcY6_aDIj0ISx-e21eTTaZ4RS7yquWCIfgZGZTXYZ5UmcnswHdxJDJ61m.jpg?format=auto"
                                         alt="211"></picture>
                                <div class="bottom_title">
                                    <div class="bottom_title_text">
                                        211
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item_container" style="z-index: 4">
                        <div class="item_number">
                            7
                        </div>
                        <div class="image_info_container">
                            <div class="info_container">
                                <div class="info_container_inner">
                                    <div class="info_number">
                                        <img class="number_image" width="512" height="512"
                                             src="https://assets.codepen.io/1890963/7.png?format=auto" alt="7">
                                    </div>
                                    <div class="info_bottom_container">
                                        <div class="info_bottom_text">
                                            Watched for <strong>7.62 million hours</strong> this week.
                                            <a href="#">Watch now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image">
                                <picture>
                                    <source srcset="https://assets.codepen.io/1890963/AAAABUStmKX96pWWdCASjN3Pf4qfb_hdiVU6GVWaEsbyS4vA1wu3JG5gYLDZxuvUPla_I9qlIUFRjfN8gL4_gFCJRwHSn05QzkGvBVkfILgABNmQ5h6F7kmIAFb7y4mV7A.jpg?format=auto"
                                            type="image/webp" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABUStmKX96pWWdCASjN3Pf4qfb_hdiVU6GVWaEsbyS4vA1wu3JG5gYLDZxuvUPla_I9qlIUFRjfN8gL4_gFCJRwHSn05QzkGvBVkfILgABNmQ5h6F7kmIAFb7y4mV7A.jpg?format=auto"
                                            type="image/jpeg" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABUStmKX96pWWdCASjN3Pf4qfb_hdiVU6GVWaEsbyS4vA1wu3JG5gYLDZxuvUPla_I9qlIUFRjfN8gL4_gFCJRwHSn05QzkGvBVkfILgABNmQ5h6F7kmIAFb7y4mV7A.jpg?format=auto"
                                            type="image/jpeg">
                                    <img class="" style="margin-left: 0px;"
                                         src="https://assets.codepen.io/1890963/AAAABUStmKX96pWWdCASjN3Pf4qfb_hdiVU6GVWaEsbyS4vA1wu3JG5gYLDZxuvUPla_I9qlIUFRjfN8gL4_gFCJRwHSn05QzkGvBVkfILgABNmQ5h6F7kmIAFb7y4mV7A.jpg?format=auto"
                                         alt="Army of the dead"></picture>
                                <div class="bottom_title">
                                    <div class="bottom_title_text">
                                        army of the dead
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item_container" style="z-index: 3">
                        <div class="item_number">
                            8
                        </div>
                        <div class="image_info_container">
                            <div class="info_container">
                                <div class="info_container_inner">
                                    <div class="info_number">
                                        <img class="number_image" width="512" height="512"
                                             src="https://assets.codepen.io/1890963/8.png?format=auto" alt="8">
                                    </div>
                                    <div class="info_bottom_container">
                                        <div class="info_bottom_text">
                                            Watched for <strong>7.49 million hours</strong> this week.
                                            <a href="#">Watch now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image">
                                <picture>
                                    <source srcset="https://assets.codepen.io/1890963/AAAABfqXANHWw1EkbFkxFhjELB7KXWuKbCeZacY2q-Basbfr1qNUQBXICLjpKYNJRVSIyrY9EStI76DuIaJD6wFldoKq8eqzFgrRzmoLPtTamMPD-SI4nVM8ZnBeNUz-8Q.jpg?format=auto"
                                            type="image/webp" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABfqXANHWw1EkbFkxFhjELB7KXWuKbCeZacY2q-Basbfr1qNUQBXICLjpKYNJRVSIyrY9EStI76DuIaJD6wFldoKq8eqzFgrRzmoLPtTamMPD-SI4nVM8ZnBeNUz-8Q.jpg?format=auto"
                                            type="image/jpeg" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABfqXANHWw1EkbFkxFhjELB7KXWuKbCeZacY2q-Basbfr1qNUQBXICLjpKYNJRVSIyrY9EStI76DuIaJD6wFldoKq8eqzFgrRzmoLPtTamMPD-SI4nVM8ZnBeNUz-8Q.jpg?format=auto"
                                            type="image/jpeg">
                                    <img class="" style="margin-left: 0px;"
                                         src="https://assets.codepen.io/1890963/AAAABfqXANHWw1EkbFkxFhjELB7KXWuKbCeZacY2q-Basbfr1qNUQBXICLjpKYNJRVSIyrY9EStI76DuIaJD6wFldoKq8eqzFgrRzmoLPtTamMPD-SI4nVM8ZnBeNUz-8Q.jpg?format=auto"
                                         alt="Passing"></picture>
                                <div class="bottom_title">
                                    <div class="bottom_title_text">
                                        Passing
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item_container" style="z-index: 2">
                        <div class="item_number">
                            9
                        </div>
                        <div class="image_info_container">
                            <div class="info_container">
                                <div class="info_container_inner">
                                    <div class="info_number">
                                        <img class="number_image" width="512" height="512"
                                             src="https://assets.codepen.io/1890963/9.png?format=auto" alt="9">
                                    </div>
                                    <div class="info_bottom_container">
                                        <div class="info_bottom_text">
                                            Watched for <strong>6.92 million hours</strong> this week.
                                            <a href="#">Watch now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image">
                                <picture>
                                    <source srcset="https://assets.codepen.io/1890963/AAAABd9WlufaHUMVtKsNxBa_5CYZdOkZYfP9WSVwjyfV54uPok-O7rDQFd7wirlUU6dggAiIt0Evtrn3b8gN3WWgz45pjJUL.jpg?format=auto"
                                            type="image/webp" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABd9WlufaHUMVtKsNxBa_5CYZdOkZYfP9WSVwjyfV54uPok-O7rDQFd7wirlUU6dggAiIt0Evtrn3b8gN3WWgz45pjJUL.jpg?format=auto"
                                            type="image/jpeg" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABd9WlufaHUMVtKsNxBa_5CYZdOkZYfP9WSVwjyfV54uPok-O7rDQFd7wirlUU6dggAiIt0Evtrn3b8gN3WWgz45pjJUL.jpg?format=auto"
                                            type="image/jpeg">
                                    <img class="" style="margin-left: 0px;"
                                         src="https://assets.codepen.io/1890963/AAAABd9WlufaHUMVtKsNxBa_5CYZdOkZYfP9WSVwjyfV54uPok-O7rDQFd7wirlUU6dggAiIt0Evtrn3b8gN3WWgz45pjJUL.jpg?format=auto"
                                         alt="Transformers: the last knight"></picture>
                                <div class="bottom_title">
                                    <div class="bottom_title_text">
                                        Transformers: the last knight
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item_container" style="z-index: 1">
                        <div class="item_number">
                            10
                        </div>
                        <div class="image_info_container">
                            <div class="info_container">
                                <div class="info_container_inner">
                                    <div class="info_number">
                                        <img class="number_image" width="512" height="512"
                                             src="https://assets.codepen.io/1890963/10.png?format=auto" alt="10">
                                    </div>
                                    <div class="info_bottom_container">
                                        <div class="info_bottom_text">
                                            Watched for <strong>6.76 million hours</strong> this week.
                                            <a href="#">Watch now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image">
                                <picture>
                                    <source srcset="https://assets.codepen.io/1890963/AAAABSd4YiRI4akxOnkCqC2Aqn8MrtGgluXvN3vbSakGx2ejrClryI0hkNYjoqRt2Owl0ySiE4-sNKiq7o6nAg7gRhD8hYGcCoPqChvTygrWfaKR7bKld5zsLWQ6kxlZaQ.jpg"
                                            type="image/webp" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABbUsC4lEZ7JE02JCOj3Rto9JG1pY4s0uZ9nBPErMwQYnJBtItVjRZMX59PSf38Ntcgf-pIo2U0WBqF3SPJuQcyqWHKi2.jpg?format=auto"
                                            type="image/jpeg" media="(max-width: 400px)">
                                    <source srcset="https://assets.codepen.io/1890963/AAAABbUsC4lEZ7JE02JCOj3Rto9JG1pY4s0uZ9nBPErMwQYnJBtItVjRZMX59PSf38Ntcgf-pIo2U0WBqF3SPJuQcyqWHKi2.jpg?format=auto"
                                            type="image/jpeg">
                                    <img class="" style="margin-left: 0px;"
                                         src="https://assets.codepen.io/1890963/AAAABbUsC4lEZ7JE02JCOj3Rto9JG1pY4s0uZ9nBPErMwQYnJBtItVjRZMX59PSf38Ntcgf-pIo2U0WBqF3SPJuQcyqWHKi2.jpg?format=auto"
                                         alt="Jumanji: the next level"></picture>
                                <div class="bottom_title">
                                    <div class="bottom_title_text">
                                        Jumanji: the next level
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}