{% extends 'base.html' %}

{% block css %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script>
    var all_item_containers = $(".item_container");
    var hasClicked = false;


    $(document).on("click", ".item_container", function () {
        var clickedItemID = $(this).attr('id');
        $(".item_container").removeClass("expanded");
        $(this).addClass("expanded");
        clearInterval(activeInterval);
    });

    $(".ul_container").hover(function () {
        clearInterval(activeInterval);
        console.log(activeInterval);
    });

    var active_container = 1;

    var activeInterval;

    function intervalStart() {
        activeInterval = setInterval(function () {
            $(".item_container").removeClass("expanded");

            $(all_item_containers[active_container]).addClass("expanded");

            active_container += 1;

            if (active_container == 10) {
                active_container = 0
            }
        }, 10000)
    };

    intervalStart();
    </script>
    <style>
        {#body {#}
        {#    background-color: #111;#}
        {#    margin: 0;#}
        {#    background-image: linear-gradient(black 0px, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) calc(80%), black 100%), url(https://assets.codepen.io/1890963/bg-1--300%402x.4b7178145e2885f8467a7357e2d15971_1.jpg?format=auto);#}
        {#    background-size: 100%;#}
        {#    background-repeat: no-repeat;#}
        {#    font-family: Arial, sans-serif;#}


        .flex_container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
        }

        .heading {
            font-size: 103px;
            color: #fff;
            margin-bottom: 2rem;
            text-align: center;
            font-weight: 700;
        }

        .outer_container {
            max-width: 1400px;
            margin: 0 auto;
            width: 100%;
            overflow-y: hidden;
            overflow-x: inherit;
        }

        .inner_container {
            padding-bottom: 32.8%;
            position: relative;
        }

        .ul_container {
            position: absolute;
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            list-style: none;
            width: 100%;
            height: 100%;
            padding: 0;
        }

        .item_container {
            flex: 1 1 0%;
            align-items: flex-start;
            width: 35px;
            height: 100%;
            position: relative;
            transition: all 0.3s;
            cursor: pointer;
            background-color: #111;
            background-image: linear-gradient(0deg, transparent, #000);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7);
        }

        .item_container:hover:not(.expanded) {
            flex-basis: 8%;
        }

        .item_container:hover:not(.expanded) img {
            opacity: 0.7;
        }

        .item_container:hover:not(.expanded) .item_number {
            opacity: 0.9;
        }

        .expanded {
            flex-basis: 56.25%;
            padding-left: 256px;
        }

        .expanded img {
            opacity: 1 !important;
        }

        .expanded .item_number {
            opacity: 0;
        }

        .item_number {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 100;
            text-shadow: 0px 0px 2px black;
            font-size: 1rem;
            font-weight: 600;
            color: #fff;
            padding: 10px;
            opacity: 0.5;
            transition: opacity 0.3s;
        }

        .image_info_container {
            position: relative;
            height: 100%;
            width: 100%;
        }

        .info_container {
            height: 100%;
            width: 256px;
            margin-left: -256px;
            position: relative;
        }

        .info_container_inner {
            height: 100%;
        }

        .info_number {
            display: flex;
            justify-content: center;
            height: 66%;
        }

        .info_bottom_container {
            position: absolute;
            bottom: 1.5rem;
            left: 0;
            width: 100%;
            z-index: 100;
            text-align: center;
        }

        .info_bottom_text {
            color: rgba(255, 255, 255, 0.9);
            font-size: 1.3rem;
            font-weight: 600;
            padding: 0 1.5rem;
        }

        .info_bottom_text > strong {
            font-weight: 800;
        }

        .info_bottom_text a {
            display: block;
            color: rgba(229, 9, 20, 0.9);
            font-weight: 300;
            padding: 5px;
            font-size: 1.2rem;
            white-space: nowrap;
        }

        .info_bottom_text a:hover {
            color: #fff;
        }

        .number_image {
            object-fit: cover;
            align-self: flex-start;
            max-width: 100%;
            height: auto;
        }

        .image {
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            height: 100%;
            padding-left: 100%;
        }

        .image:hover .bottom_title_text {
            opacity: 1;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-left: 0px;
            max-width: 100%;
            opacity: 0.4;
            transition: opacity 0.3s;
        }

        .bottom_title {
            padding: 1rem;
            overflow: hidden;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 15px 0;
            text-align: center;
            color: #fff;
            text-shadow: black 0px 0px 2px, black 0px 0px 10px;
            background-image: linear-gradient(transparent 0px, rgba(0, 0, 0, 0.5) 100%);
        }

        .bottom_title_text {
            opacity: 0;
            transition: opacity 0.3s;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 0.8rem;
            letter-spacing: 0.05rem;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="flex_container">
        <div class="outer_container">
            <div class="heading" style="color: black;font-size: 50px">
                T O P &nbsp;&nbsp; A U T H O R S
            </div>
        </div>
        <div class="outer_container">
            <div class="inner_container">
                <ul class="ul_container">
                    {% for top_author in top_authors %}
                        <div class="item_container {% if loop.index0==0 %}expanded{% endif %}"
                             style="z-index: {{ loop.revindex }}">
                            <div class="item_number">
                                {{ loop.index }}
                            </div>
                            <div class="image_info_container">
                                <div class="info_container">
                                    <div class="info_container_inner">
                                        <div class="info_number">
                                            <img class="number_image" width="512" height="512"
                                                 src="https://assets.codepen.io/1890963/1.png?format=auto" alt="1">
                                        </div>
                                        <div class="info_bottom_container">
                                            <div class="info_bottom_text">
                                                S O L D <strong>{{ top_author[1] }} million copies</strong> this week.
                                                <a href="#">Read now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image">
                                    <picture>
                                        <source srcset="https://dnm.nflximg.net/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABcZCcruNL4qg1uy7rbRagPLF2_kMt2hWh5utDUKt3DgYuhAE-Qrr1wA8b2W9vFu9ABPSY1cNzQPBoPpWSZVvaoQMZAEFXfsXrcmUNSO5YTdjIdKMDtjYbTYKRR9J.webp?r=5f1"
                                                type="image/webp" media="(max-width: 400px)">
                                        <source srcset="https://assets.codepen.io/1890963/AAAABeyXW3mUTPqrK4NtKn2vJlcYmKVJU5XCn6Zeis_EdNEjMmhs5rRudqWRYo2Pj7R2_pYwHviXeOrP1GKgaC4flMu_QndVSRQ8Fk-B_al3ZGz5JOXyZ28ZK7I49UdxrQ.jpg?format=auto"
                                                type="image/jpeg" media="(max-width: 400px)">
                                        <source srcset="{{ top_author[2] }}"
                                                type="image/jpeg">
                                        <img class="" style="margin-left: 0px;"
                                             src="https://wallpaperaccess.com/full/1813349.jpg"
                                             alt="The Guilty"></picture>
                                    <div class="bottom_title">
                                        <div class="bottom_title_text">
                                            {{ top_author[0] }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

    <hr>

    <div class="flex_container">
        <div class="outer_container">
            <div class="heading" style="color: black;font-size: 50px">
                N E W &nbsp;&nbsp; A U T H O R S
            </div>
        </div>
        <div class="outer_container">
            <div class="inner_container">
            </div>
        </div>
    </div>



{% endblock %}