{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block body %}
     <div class="jumbotron text-center" style="text-align: center;">
     <img src="{{ url_for('static', filename='images/app_logo.png') }}" alt="" width="200"
                 height="200" class="d-inline-block align-text-top">
{#        <h3 style="font-weight: bolder"><b>Stationary Traveller</b></h3>#}
        <h5><b>L O G I N &nbsp;&nbsp; N O W</b></h5>
    </div>

    <div class="container align-content-md-center" style="margin: auto;
width: 60%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding: 28px">

        <form>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
            <h5 style="margin-top: 20px"><a href="#"> Forgot Password?</a></h5>
        </form>
    </div>

{% endblock %}


